install_dir/**
build_dir/**
*dot
script_to_compare.sh
script_to_debug.sh
script_to_run_gen_model_on_benchmarks.sh
tmp.sh
gta_v1.tar
.vscode
.tmp
gta_v3.tar
tmp.txt
**/.**
Dockerfile
verify_table_gta_reach.sh
verify_table_g-sim.sh
output/
eca_wrapper/
examples_gsim/
